<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        داشبورد
        <small>پنل مدیریت</small>
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> صفحه نخست</a></li>
        <li class="breadcrumb-item active">داشبورد</li>
    </ol>
</section>
